---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<style>
body {
    font-family: "Times New Roman", serif;   
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}

h1 {
    font-size: 24px;
    color: #2C3E50;
}

h2 {
    font-size: 20px;
    color: #2C6E9B;
}

h3 {
    font-size: 18px;
    color: #F39C12;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;  /* remove underline */
    color: #3498DB;         /* link color */
}

a:hover {
    color: #E74C3C;         /* when mouse on */
}
</style>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



