---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<style>
body {
    font-family: "Times New Roman", serif;   
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}

h1 {
    font-size: 24px;
    color: #2C3E50;
}

h2 {
    font-size: 20px;
    color: #2C6E9B;
}

h3 {
    font-size: 18px;
    color: #F39C12;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;  /* remove underline */
    color: #3498DB;         /* link color */
}

a:hover {
    color: #E74C3C;         /* when mouse on */
}
</style>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
